{% extends 'main/base.html' %} 
<!DOCTYPE html>
<html lang="es">
{% block title %} Registrar calificaciones {% endblock %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Registrar calificaciones</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
  <body class="body2">
    <header> 
      <img src="{% static 'assets/SERA_LOGO_BLANCO.png' %}" alt="imagen-logo"> 
      <img src="{% static 'assets/SERA_TITULO_BLANCO.png' %}" alt="imagen-logo"> 
    </header>
    <div class="display-flex">
      <nav>
        <img src="{% static 'assets/ICONO_GENERAL_PERFIL.png' %}" alt="foto-persona">
        {% for docente in docentes %}
        <p>Bienvenido <strong>{{docente.Docente_NOMBRE}}</strong></p>
            {% empty %}
        {%endfor%}
        <a href="/docente" class="class-option">Mis datos</a>
        <a href="/editar-docente" class="class-option">Modificar datos</a>
        <a href="/create-notas" class="class-option">Ingresar notas</a>
        <p class="espaciado">   </p>
      </nav>
      <main class="modification-main">
         <h1 class="color-title">Registro de calificaciones</h1> 
         
        
          <div class="resultado-busqueda ">
            <div class="background-search padding">
              <div class="guardar-btn-container">
                <form method="post">
                  {% csrf_token %}{{form}}
                    <button type="submit" class="btn btn-success edit-button">Crear</button>
                </form>
             </div>
            </div>
          </div>
         
      </main>
    </div>
    {% endblock %}
  </body>
  </html>

