{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="es">
{% block title %} Estudiante {% endblock %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="body2">
    <header> 
      <img src="{% static 'assets/SERA_LOGO_BLANCO.png' %}" alt="imagen-logo"> 
      <img src="{% static 'assets/SERA_TITULO_BLANCO.png' %}" alt="imagen-logo"> 
    </header>
    <div class="display-flex">
      <nav>
        <img src="{% static 'assets/ICONO_GENERAL_PERFIL.png' %}" alt="foto-persona">
        {% for alumno in alumnos %}
            <p>Bienvenido <strong>{{alumno.nombre}}</strong></p>
            {% empty %}
        {%endfor%}
        <a href="/estudiante" class="class-option">Mis datos</a>
        <a href="/editar-alumno" class="class-option">Modificar datos</a>
        <a href="/estudiante-notas" class="class-option">Mis notas</a>
        <a href="/create-historial" class="class-option">Registrar historial academico</a>
        <p class="espaciado">   </p>
      </nav>
    <main>
        <div class="grid-center">
          <section class="personal-data container-data">
            <h2>Información personal</h2>
            {% for alumno in alumnos %}
            <ul>
              <li><b>DNI:</b>{{alumno.documento_identidad}}</li>
              <li><b>lumno:</b> {{alumno.nombre}} {{alumno.apellidos}} </li> 
              <li><b>Nro. Telef:</b> {{alumno.telefono}}</li>
              <li><b>Correo:</b> {{alumno.correo_electronico}}</li>
              <li><b>Dirección:</b> {{alumno.direccion}}</li>
              <li><b>Fecha Nacimiento:</b> {{alumno.fecha_nacimiento}}</li>
            </ul>
            {% empty %}
            {%endfor%}
          </section>
          <section class="academic-data container-data">
            <h2>Información académica</h2>
              {% for hist in hists %}
              <ul>
                <li><b>Grado académico:</b> {{hist.grado_academico}}</li>
                <li><b>Num. Repitencias:</b>{{hist.numero_repitencias}}</li>
                <li><b>Tiempo Estudio:</b> {{hist.tiempo_estudio}}</li>
                <li><b>Preferencia Profesional:</b> {{hist.preferencia_profesional}}</li>
              </ul>
              {% empty %}
            {%endfor%}
          </section>
          <section class="assigned-tutoring container-data">
            <h2>Psicopedagogo Asignado</h2>
            {% for cita in citas %}
              <ul>
                <li><b>Fecha Cita:  </b> {{cita.fecha}}</li>
                <li><b>Psicopedagogo:</b> {{cita.psicopedagogo}}</li>
                <li> </li>
              </ul>
              {% empty %}
            {%endfor%}
          </section>
        </div>
      </main>
    </div>
    {% endblock %}
</body>
</html>






