<!DOCTYPE html>
<html lang="es">
    {% extends 'main/base.html' %} 
    {% block title %} Psicopedagogo {% endblock %}
    {% block content %}
    {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Mi perfil</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="body2">
  <header> 

    <img src="{% static 'assets/SERA_LOGO_BLANCO.png' %}" alt="imagen-logo"> 
    <img src="{% static 'assets/SERA_TITULO_BLANCO.png' %}" alt="imagen-logo"> 
  </header>
  <div class="display-flex">
    <nav>
      <img src="{% static 'assets/ICONO_GENERAL_PERFIL.png' %}" alt="foto-persona">
      {% for psicopedagogo in psicopedagogos %}
        <p>Bienvenido {{psicopedagogo.Psicopedagogo_NOMBRE}}</p>
      {% empty %}
      {%endfor%}
      <a href="/psicopedagogo" class="class-option">Mis datos</a>
      <a href="/editar-psicopedagogo" class="class-option">Modificar datos</a>
      <a href="/create-cita" class="class-option">Registrar citas</a>
      <p class="espaciado">   </p>
    </nav>
    <main>
      <div class="grid-center">
        <section class="personal-data container-data">
          <h2>Información personal</h2>
          {% for psicopedagogo in psicopedagogos %}
          <ul>
            <li><b>DNI:</b> {{psicopedagogo.Psicopedagogo_DNI}}</li>
            <li><b>Nombre:</b> {{psicopedagogo.Psicopedagogo_NOMBRE}} {{psicopedagogo.Psicopedagogo_APELLIDOS}}</li>
            <li><b>Grado Academico:</b> {{psicopedagogo.Psicopedagogo_GRADO_ACADEMICO}}</li>
            <li><b>Nro. Telef:</b> {{psicopedagogo.Psicopedagogo_NUMERO_TELEFONICO}}</li>
            <li><b>Correo:</b> {{psicopedagogo.Psicopedagogo_CORREO_ELECTRONICO}}</li>
            <li><b>Dirección:</b> {{psicopedagogo.Psicopedagogo_DIRECCION}}</li>
            <li><b>Fecha Nacimiento:</b> {{psicopedagogo.Psicopedagogo_FECHA_NACIMIENTO}}</li>
          </ul>
          {% empty %}
          {%endfor%}
        </section>
      </div>
    </main>
  </div>
</body>
{% endblock %}
</html>

